body {
    padding-left: 150px;
    padding-right: 150px;
}

p {
    font-size: 15px;
}

.main-brand {
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
    margin: 0px 0 30px 0;  
    /* border-bottom: 2px solid #D4D4D4; */
    line-height: 2;
}

.copywrite {
    font-weight: normal;
    line-height: 0;
    font-size: 20px;
    margin-top: -30px;
}

.story-title {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.story-text {
    line-height: 1.5;
}

.row {
    display: flex;
    align-items: stretch;
}

.quarter {
    flex-grow: 1;
}

.half {
    flex-grow: 2;
}

.story {
    /* border: .02px solid #D4D4D4; */
    padding: 10px;
    text-align: left;
    border-top: none;
    border-bottom: none;
}

.border-left {
    border-left: none;
}

.border-right {
    border-right: none;
}

.middle {
    /* border-top: 1px solid #D4D4D4; */
    padding: 0px 50px 0px 50px;
}

.three-quarter {
    width: 90%;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
   color: white;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item   {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    padding: 2px 0px 2px 25px;
    font-weight: bold;
    justify-content: center;
}

.nav-item:nth-child(1) {
    background-color: #ffeaa7;
}

.nav-item:nth-child(2) {
    background-color: #81ecec;
}

.nav-item:nth-child(3) {
    background-color: #55efc4;
}

.nav-item:nth-child(4) {
    background-color: #74b9ff;
}

.nav-item:nth-child(5) {
    background-color: #a29bfe;
}
 

.nav-item:nth-child(6) {
    background-color: #ff90bc;
}

.nav-item:nth-child(7) {
    background-color: lightgrey;
}


.site-bottom {
    border-bottom: 2.5px solid lightgrey;
    color: black;
    margin-bottom: 0px;
    align-items: center;
}

.site-bottom-title {
    
    font-size: 25px;
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
    padding-top: 10px;
    align-items: center;
}